.main-loading {
  text-align: center;
  position: absolute;
  top: 200px;
  width: 100%;
}
.main-loading::before {
  --size: 30px;
  content: '';
  border: 4px solid currentColor;
  width: var(--size);
  height: var(--size);
  border-top-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(0);
  border-radius: 999999px;
  position: absolute;
  left: calc(50% - var(--size) / 2);
  top: calc(var(--size) * -1.6);
  animation: rotateThis 1s infinite ease-in-out;
}
@keyframes rotateThis {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-pulse {
  opacity: 1;
  animation: pulse 1s infinite ease-in-out;
  color: #998000;
}
@keyframes pulse {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
