.list-item {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  display: block;
  border-collapse: collapse;
}
.list-item__content {
  display: flex;
  overflow: hidden;
}
.list-item__img-container {
  display: table-cell;
  vertical-align: middle;
  width: 30%;
  padding-right: 1em;
}
.list-item__img {
  display: block;
  width: 100%;
  height: auto;
}
.list-item__text {
  display: flex;
  flex-direction: column;
}
.list-item__hat {
  margin-top: 3px;
  font-size: 12px;
  color: #2b2b2b
}
.list-item__head {
  margin: 5px 0 10px 0;
}
.list-item__sub {
  margin: auto 0 5px 0;
  font-weight: bold;
  color: #004000;
}
.comment-length {
  font-size: 14px;
}
